@import url(http://fonts.googleapis.com/css?family=Raleway:200,500,700,800);

*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

textarea:focus, input:focus{
    outline: 0;
}

html, body {
    height: 100%;
	font-weight: 500;
	font-size: 1.05em;
	font-family: 'Raleway', Arial, sans-serif;
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: rgba(255, 255, 230, 1) !important;
}

#map {
    width: 100%;
    height: 300px;
}

.title {
    color: white;
    text-align: center;
    padding-bottom: 10px;
    font-family: 'Pacifico', cursive;
}

.logos {
    padding-right: 10px;
    height: 32px;
    position: fixed;
    bottom: 0px;
    right: 0px;
    margin-bottom: 10px;
}

.power {
    font-size: 12px;
    vertical-align: 12px;
    display:inline-block;
    padding-right: 5px;
}


.logo {
    width: 30px;
    height: 30px;
    display: inline-block;
    cursor: pointer;
}

.sent {
    font-weight: normal;
    text-align: center;
    font-family: 'Pacifico', cursive;
    margin-top: 10px;
    line-height: 64px;
}

#sendform {
    text-align: center;
}

#send {
    width: 250px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 15px;
    cursor: pointer !important;
}

.usermessage {
    padding-top: 10px !important;
    margin-bottom: 10px !important;
    font-size: 22px !important;
    text-align: center;
}

.go {
    font-family: 'Pacifico', cursive;
    background-color: rgba(200, 200, 200, 0.6);
    border: none;
    color: rgb(234, 234, 234);
    padding-top: 30px;
    margin-top: 30px;
    border-radius: 10px;
    padding: 20px;
    width: 180px;
    margin-left: 5px;
    margin-right: 5px;
}

#retry {
    margin: auto;
    display: inherit;
    cursor: pointer !important;
}

#userinput {
    position: absolute;
    left: 0px;
    right: 0px;
    margin: auto;
    padding-top: 40x;
    color: white;
}

#map {
    padding-top: 100px;
    padding: 0px;
    margin: 0px;
    text-align: start;
}


a {
	color: #2fa0ec;
	text-decoration: none;
	outline: none;
}

a:hover, a:focus {
	color: #404d5b;
}

.container {
    height: 100%;
	margin: 0 auto;
}

.content {
    height: 100%;
	font-size: 150%;
	padding: 3em 0;
    background: rgba(29, 29, 29, 0.25); 
    color: rgba(255, 20, 20, 1);
}

.content h2 {
	margin: 0 0 2em;
	opacity: 1;
}

.content p {
	margin: 1em 0;
	padding: 5em 0 0 0;
	font-size: 0.65em;
}

body .nomargin-bottom {
	margin-bottom: 0;
}

@media screen and (max-width: 50em) {
    
    #userinput {
        padding-top: 5px;
    }
    
    .input__field {
        padding: 0.7em !important;
    }
    
    .input__label-content {
        font-size: 14px !important;
    }
    
    .content {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    
    .send {
        margin-bottom: 5px;
        margin-top: 5px;
        padding: 4px;
    }
    
    .title, .sent {
        font-size: 28px;
        margin-top: 3px;
        margin-bottom: 7px;
        line-height: 28px;
    }
    
    .go {
        padding: 5px;
        font-size: 20px;
    }
    
    .usermessage {
        font-size: 14px !important;
    }
    
    #walking {
        width: 40%;
        float: right;
    }

    #driving {
        width: 40%;
        float: left;
    }
    
	.codrops-header {
		padding: 3em 10% 4em;
	}
    
    .logos {
        visibility: hidden;
    }
}

@media screen and (max-width: 40em) {
    
}
